<div class= 'well'>
	<h4> Comig Soon! </h4>
	<dl>
		<dt>
			User Profile
		</dt>
		<dd>
			We will show user profile! In this pane only. And the right pane will contain twits ralted to that profile
		</dd>
		<dt>
			Following
		</dt>
		<dd>
			A user will be ablle to follow other user. Just like twitter.
		</dd>
		<dt>
			Hashtags#
		</dt>
		<dd>
			Just like twitter!
		</dd>
		<dt>
			Tagging@
		</dt>
		<dd>
			Just like twitter!
		</dd>
	</dl>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>