<div class= 'well'>
	<h4> Comig Soon! </h4>
	<br>
	<dl>
		<dt>
			Hashtags#
		</dt>
		<dd>
			Just like twitter!
		</dd>
		<br>
		<dt>
			Tagging@
		</dt>
		<dd>
			Just like twitter!
		</dd>
		<br>
	</dl>
</div>