<div class= 'well'>
	<img src=<%= @user_details['picture']%>>
	<br>
	<br>
	<%= @user_details['name']%>
	<br>
	<br>
	<a href=<%=@user_details['link']%>><img src='https://lh5.googleusercontent.com/-2r7nkB71SpM/AAAAAAAAAAI/AAAAAAAAExc/Avog9qId-tQ/s250-c-k/photo.jpg' height='30' width = '30'><a></a>
	<br>
	<br>
</div>