<table class = 'table table-bordered table-striped table-condensed'>
	<tbody>
		<% @twits.each do |twit| %>
		<tr>
			<td>
				<img src=<%= twit.user.google_pic%> height='48' width = '48' ><%= link_to twit.user.google_name, user_timeline_path(twit.user.id)%> 
			</td>
		</tr>
		<tr>
			<td style="word-break:break-all;">
				<%=auto_link(twit.status, :html => { :target => '_blank' }) do |text|%>
  					<%truncate(text, :length => 20)%>
				<%end%>
 			</td>
		</tr>
		<% end %>
	</tbody>
</table>