<div class= 'well'>
	<img src=<%= @user.google_pic%>>
	<br>
	<br>
	<%= @user.google_name%>
	<br>
	<br>
	<a href="#"><img src='https://lh5.googleusercontent.com/-2r7nkB71SpM/AAAAAAAAAAI/AAAAAAAAExc/Avog9qId-tQ/s250-c-k/photo.jpg' height='30' width = '30'><a></a>
	<br>
	<br>
	<%if FollowTable.find_by_follower_id_and_followed_id(User.find_by_google_id(@user_details['id']).id,@user.id)  %>
		<a class="btn btn-danger" href=<%=url_for(unfollow_path)%>>Unfollow</a>
	<%else%>
		<a class="btn btn-success" href=<%=url_for(follow_path)%>>Follow</a>
	<%end%>
</div>