<div class= 'well'>
	<h2>
		What is this?
		<br>
		<small>
			Twitclone. A clone of twitter. I made it using rails. Just trying to learn things. :-)
		</small>
	</h2>
	<br>
	<h2>
		What features it has?
		<br>
		<small>
			<ul>
				<li>Login with google</li>
				<li>Twit</li>
				<li>Public timeline</li>
				<li>Follow your friends</li>
				<li>User profile and timeline</li>
			</ul>
		</small>
	</h2>
	<br>
	<h2>
		What are the technologies used?
		<br>
		<small>
			<a href='http://rubyonrails.org/'>Rails</a>, <a href='http://twitter.github.com/bootstrap/'>Bootstrap</a>, <a href='http://code.google.com/p/google-api-ruby-client/'>google-api-ruby-client gem</a> and few other gems.
		</small>
	</h2>
	<br>
	<h2>
		Why did you make?
		<br>
		<small>
			To learn things. I am going to take class, Intro to Software Engineering, in this semester. Just getting to know the things that are going to be used in it.
		</small>
	</h2>
	<br>
	<h2>
		But, it isn't that great!
		<br>
		<small>
			I know, I started to learn 2 months back only.
		</small>
	</h2>
	<br>
	<h2>
		Where is the code?
		<br>
		<small>
			You can find it on <a href='https://github.com/malavbhavsar/twitclone'>github</a>.
		</small>
	</h2>
	<br>
</div>